html {
    height:-webkit-fill-available
  }
  #site-menu ul,
  body {
    display:flex;
    margin:0;
    padding:0;
  }
  body,
  h4 {
    letter-spacing:.009375rem
  }
  body {
    flex-direction:column;
    min-height:100vh;
    min-height:-webkit-fill-available;
    font-family:Roboto,sans-serif;
    line-height:1.5;
    background-color:#fafafa;
    overflow-y:scroll
  }
  #site-menu ul li a,
  a {
    color:#1565c0;
    text-decoration:none
  }
  a:visited {
    color:#6a1b9a
  }
  a:hover {
    text-decoration:underline
  }
  body,
  h1 a,
  h1 a:visited,
  h2 a,
  h2 a:visited,
  h3 a,
  h3 a:visited,
  h4 a,
  h4 a:visited,
  h5 a,
  h5 a:visited,
  h6 a,
  h6 a:visited {
    color:rgba(0 0 0/87%)
  }
  h1,
  h2,
  h3 {
    font-size:2.25rem;
    line-height:2.75rem;
    letter-spacing:0
  }
  main {
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    max-width:832px;
    min-width:0;
    width:100%;
    box-sizing:border-box;
    overflow-wrap:break-word;
  }

 
  button,
  input,
  select,
  textarea {
    font-family:inherit
  }
  .button,
  .button:visited,
  button {
    color:#fff;
    font-size:.9em;
    font-weight:700;
    letter-spacing:.0892857143em;
    background-color:#0053a3;
    border-radius:20px;
    border:0;
    height:40px;
    padding:.5rem 1.5rem
  }
  .button:hover,
  button:hover {
    background-color:#1863ad;
    cursor:pointer
  }
  .button:focus,
  button:focus {
    background-color:#2f73b4;
    box-shadow:0 2px 4px -1px rgba(0 0 0/20%),0 4px 5px 0 rgba(0 0 0/14%),0 1px 10px 0 rgba(0 0 0/12%)
  }
  button:disabled {
    background-color:rgb(26 27 30/12%);
    color:rgb(26 27 30/38%);
    cursor:not-allowed
  }
  .button,
  .button:active,
  .button:hover,
  .button:visited {
    text-decoration:none;
    padding-top:.75rem;
    padding-bottom:.75rem;
    line-height:2.5rem
  }

  .break p,
  .coin-address,
  footer {
    text-align:center
  }

  footer {
    margin-top:auto;
    padding:1em;
    max-width:100vw;
    overflow-wrap:break-word
  }
  footer a,
  footer a:visited {
    color:#616161
  }
  .error-text {
    color:#b00020
  }
  table {
    border-collapse:collapse;
    width:100%
  }
  td {
    border:1px solid #ddd;
    padding:.5rem
  }
  kbd {
    border-radius: 2px;
    padding: 2px;
    border: 1px solid black;
  }
  main.normalize {
    max-width:100%;
    margin:0;
    padding:0
  }
  .content {
    max-width:832px;
    margin:auto;
    padding:3.5rem 1rem
  }
  @font-face {
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:local("Roboto"),
    local("Roboto-Regular"),
    url(/fonts/roboto-v30-regular-latin.woff2)format("woff2");
    unicode-range:U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD
  }
  @font-face {
    font-family:Roboto;
    font-style:italic;
    font-weight:400;
    font-display:swap;
    src:local("Roboto Italic"),
    local("Roboto-Italic"),
    url(/fonts/roboto-v30-regular-italic-latin.woff2)format("woff2");
    unicode-range:U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD
  }
  @font-face {
    font-family:Roboto;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:local("Roboto Bold"),
    local("Roboto-Bold"),
    url(/fonts/roboto-v30-bold-latin.woff2)format("woff2");
    unicode-range:U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD
  }
  @font-face {
    font-family:"Roboto Mono";
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:local("Roboto Mono"),
    local("RobotoMono-Regular"),
    url(/fonts/robotomono-v23-regular-latin.woff2)format("woff2");
    unicode-range:U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD
  }
  @font-face {
    font-family:"Roboto Mono";
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:local("Roboto Mono Bold"),
    local("RobotoMono-Bold"),
    url(/fonts/robotomono-v23-bold-latin.woff2)format("woff2");
    unicode-range:U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02BB-02BC,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2122,
    U+2191,
    U+2193,
    U+2212,
    U+2215,
    U+FEFF,
    U+FFFD
  }

  @media (prefers-color-scheme:dark) {
    body {
      background:#121212
    }
    a {
      color:#90caf9
    }
    a:visited {
      color:#ce93d8
    }
        kbd {
          border: 1px solid rgba(255 255 255/87%);
        }
    body,
    h1 a,
    h1 a:visited,
    h2 a,
    h2 a:visited,
    h3 a,
    h3 a:visited,
    h4 a,
    h4 a:visited,
    h5 a,
    h5 a:visited,
    h6 a,
    h6 a:visited {
      color:rgba(255 255 255/87%)
    }
    .button,
    .button:visited,
    button {
      color:#000;
      background-color:#95c4ff
    }
    .button:hover,
    button:hover {
      background-color:#89b4ea
    }
    .button:focus,
    button:focus {
      background-color:#7ca3d4
    }
    button:disabled {
      background-color:rgb(227 226 230/12%);
      color:rgb(227 226 230/38%)
    }
    code,
    pre {
      background-color:#424242
    }
    footer a,
    footer a:visited {
      color:#9f9f9f
    }
    footer img {
      filter:invert(87%)
    }
    .error-text {
      color:#cf6679
    }
    td {
      border-color:#222
    }
    .phone-img {
      filter:brightness(.87)
    }
    .phone-logo-img {
      filter:invert(87%)
    }
    .surface {
      background-color:#212121
    }
    var {
      color:#ffb4ab
    }
  }


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
}
#container {
  width: 80%;
  margin: 20px auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1, h2 {
  color: #ffffff;
}
input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #333;
  color: #ffffff;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: #0056b3;
}
#definition {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: #2e2e2e;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
  text-align: left;
  flex: 1 1 300px;
  max-width: 300px;
  box-sizing: border-box;
}
.dictionary-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.word-definition {
  margin-bottom: 5px;
}
.not-found-card {
  background-color: #2e2e2e;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
#previousSearches {
  list-style: none;
  padding: 0;
  color: #fff;
}
#previousSearches li {
  margin: 5px 0;
  cursor: pointer;
  color: #007bff;
}
#previousSearches li.not-found {
  color: #ff0000;
}
#previousSearches li:hover {
  text-decoration: underline;
}