html {
    height:-webkit-fill-available
  }
  
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
}
#container {
  width: 80%;
  margin: 20px auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1, h2 {
  color: #ffffff;
}
input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #333;
  color: #ffffff;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: #0056b3;
}
#definition {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: #2e2e2e;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
  text-align: left;
  flex: 1 1 300px;
  max-width: 300px;
  box-sizing: border-box;
}
.dictionary-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.word-definition {
  margin-bottom: 5px;
}
.not-found-card {
  background-color: #2e2e2e;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
#previousSearches {
  list-style: none;
  padding: 0;
  color: #fff;
}
#previousSearches li {
  margin: 5px 0;
  cursor: pointer;
  color: #007bff;
}
#previousSearches li.not-found {
  color: #ff0000;
}
#previousSearches li:hover {
  text-decoration: underline;
}